<template>
    <div class="main p-3 m-0 row d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center bg-white shadow overflow-hidden
                    rounded col-xxl-3 col-xl-4 col-lg-5 col-md-7 col-sm-9 d-inline-block py-4">
            <h1 class="text-gray-600 mt-1 mb-3 font-bold fs-2 text-center">Create book</h1>
            <Errors :errors="errors"/>
            <form method="POST" @submit.prevent="handleSubmit">
                <div class="mb-3 d-flex flex-column">
                    <label class="text-grey-darker text-center font-bold mb-2" for="title">Title</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                           id="title" type="text" v-model="form.title" required/>
                </div>
                <div class="mb-3 d-flex flex-column">
                    <label class="text-grey-darker text-center font-bold mb-2" for="publisher">Publisher</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                           id="publisher" type="text" v-model="form.publisher" required/>
                </div>
                <div class="mb-3 d-flex flex-column">
                    <label class="text-grey-darker text-center font-bold mb-2" for="annotation">Annotation</label>
                    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                           id="annotation" type="text" v-model="form.annotation"/>
                </div>
                <div class="mb-3 d-flex flex-column">
                    <label class="text-grey-darker text-center font-bold mb-2" for="publicationDate"></label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                           id="publicationDate" type="date" v-model="form.publicationDate" required/>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <button class="bg-dark text-white font-bold py-2 px-4 rounded border w-75" type="submit">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {onMounted, reactive, ref} from 'vue';
import axios from 'axios';
import {useRouter} from "vue-router";
import Errors from "../../components/Errors.vue";

export default {
    components: {
        Errors
    },
    setup() {
        const errors = ref();
        const tags = ref();
        let router = useRouter();
        const form = reactive({
            title: '',
            publisher: '',
            annotation: '',
            publicationDate: '',
        });

        const handleSubmit = async function () {
            try {
                let token = localStorage.getItem('token');

                const result = await axios.post('/api/book', form, {
                    headers: {
                        'Authorization': token
                    }
                });

                if (result.status === 200) {
                    await router.push({name: 'home'});
                }
            } catch (exception) {
                if (exception && exception.response.data && exception.response.data.errors) {
                    errors.value = Object.values(exception.response.data.errors);
                }
            }
        }

        return {
            form,
            errors,
            tags,
            handleSubmit,
        }
    }
}
</script>
