<template>
    <div class="main p-0 m-0 row d-flex flex-column align-items-center">
        <div class="d-flex flex-row justify-content-center">
            <router-link class="btn bg-dark text-white font-bold py-2 px-4 rounded border text-center w-25" :to="'/book/create'">
                Create book
            </router-link>
            <form method="POST" @submit.prevent="handleSubmitLogout" class="col-xxl-2 p-0 mx-1">
                <button class="bg-dark text-white font-bold py-2 px-4 rounded border w-100" type="submit">
                    Logout
                </button>
            </form>
        </div>
        <BooksList/>
    </div>
</template>

<script>

import BooksList from "../components/BooksList.vue";
import {ref} from "vue";
import {useRouter} from "vue-router";

export default {
    components: {
        BooksList
    },

    setup() {
        const errors = ref();
        const router = useRouter();

        const handleSubmitLogout = async function () {
            try {
                let token = localStorage.getItem('token');

                const result = await axios.post('/api/logout', {}, {
                    headers: {
                        'Authorization': token
                    }
                });

                if (result.status === 200) {
                    localStorage.removeItem('token');

                    await router.push('/');
                }
            } catch (exception) {
                if (exception && exception.response.data && exception.response.data.errors) {
                    errors.value = Object.values(exception.response.data.errors);
                }
            }
        }

        return {
            errors,
            handleSubmitLogout,
        }
    }
}
</script>
