<template>
    <div class="d-flex justify-content-center bg-white shadow overflow-hidden rounded col-xxl-8 col-xl-10 p-4 my-4 row">
        <div class="d-flex flex-column col-12 px-1">
            <h1 class="text-gray-600 mt-1 mb-2 font-bold fs-2 text-center">Books list</h1>
            <Errors :errors="errors"/>
            <div v-for="book in books" :key="book.id" class="w-full row my-1">
                <div class="col-8 offset-1 text-center border border-dark">
                    <div class="text-center"><b>Title: </b>{{ book.title }}</div>
                    <div class="text-center"><b>Publisher: </b>{{ book.publisher }}</div>
                    <div class="text-center"><b>Annotation: </b>{{ book.annotation }}</div>
                    <div class="text-center"><b>Publication date: </b>{{ book.publicationDate }}</div>
                </div>
                <div class="col-1 border border-dark d-flex align-items-center justify-content-center p-0">
                    <router-link class="btn btn-warning text-center" :to="'/book/' + book.id + '/edit'">
                        <i class="bi bi-pencil-fill"></i>
                    </router-link>
                </div>
                <div class="col-1 border border-dark d-flex align-items-center justify-content-center p-0">
                    <button class="btn btn-danger inline-block text-center"
                            @click="handleEventDelete(book.id, $event)">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {onMounted, ref} from 'vue';
import axios from 'axios';
import Errors from "./Errors.vue";

export default {
    components: {
        Errors,
    },
    setup() {
        const errors = ref();
        const books = ref();

        onMounted(function () {
            getBooks();
        });

        const getBooks = async function () {
            try {
                let token = localStorage.getItem('token');

                const result = await axios.get('/api/book', {
                    headers: {
                        'Authorization': token
                    }
                });

                if (result.status === 200 && result.data && result.data.books) {
                    books.value = result.data.books;
                }
            } catch (exception) {
                if (exception && exception.response.data && exception.response.data.errors) {
                    errors.value = Object.values(exception.response.data.errors)
                }
            }
        }

        const handleEventDelete = async function (id) {
            try {
                let token = localStorage.getItem('token');

                if (confirm('Are you sure, you want to delete this book?')) {
                    const result = await axios.delete('/api/book/' + id, {
                        headers: {
                            'Authorization': token
                        }
                    });

                    if (result.status === 200 && result.data && result.data.books) {
                        books.value = result.data.books;
                    }
                }
            } catch (exception) {
                if (exception && exception.response.data && exception.response.data.errors) {
                    errors.value = Object.values(exception.response.data.errors);
                }
            }
        }

        return {
            errors,
            books,
            handleEventDelete,
        }
    }
}
</script>
